body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: rgb(20, 0, 100);
  background-color: rgb(244, 244, 244);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: rgb(20, 0, 100);
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-page {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-page .text {
  margin: 0;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
}

.contact {
  top: 50px;
  right: 0;
  display: flex;
  margin-left: auto;
}

.contact .list {
  position: relative;
  display: block;
  margin-left: auto;
  font-size: 20px;
  font-weight: 400;
}

.contact .list + .list {
  margin-left: 30px;
}

.contact .link {
  display: block;
  font-size: 20px;
  padding: 10px;

  transition: color 300ms linear;
}

.contact .link:hover,
.contact .link:focus {
  color: #2196f3;
}

.contact .link::after {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform 300ms linear;
}

.contact .link:hover:after,
.contact .link:focus:after {
  transform: scaleX(1);
}

.box {
  padding-bottom: 500px;
}

.box .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.menu > .list {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(228, 224, 205, 0.5);
}

.menu .list + .list {
  margin-left: 20px;
}

.menu .link {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 30px;
  border-radius: 5px;

  transition: background-color 300ms linear, color 300ms linear;
}

.menu .link:hover,
.menu .link:focus {
  color: rgb(255, 255, 255);
  background-color: #2196f3;
}

.menu .current {
  color: rgb(255, 255, 255);
  background-color: #2196f3;
}

.submenu {
  opacity: 0;
}

.detail {
  padding: 0;
  margin-left: 30px;
}

.detail .list {
  display: flex;
  align-items: center;
}

.scene {
  display: flex;
  align-items: center;
}

.detail .text {
  display: inline-block;
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.8;

  transform: translateX();
  transition: transform 1000ms linear;
}

.detail .icon-home {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  fill: rgb(20, 0, 100);

  transform: scale(1);
  transition: transform 500ms linear, fill 500ms linear;
}

.icon-truck {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 25px;
  fill: rgb(20, 0, 100);

  transform: translateX();
  transition: transform 1000ms linear, fill 500ms linear;
}

.scene:hover .icon-truck {
  transform: translateX(+500px);
  fill: #2196f3;
}

.scene:hover .icon-home {
  fill: #2196f3;
  transform: scale(0.8);
}

.scene:hover .text {
  transform: translateX(+500px);
  color: red;
}

.footer-page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-page .container {
  border-top: 1px solid rgb(20, 0, 100);
}
